@import "bourbon";

@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}

$boardElementWidth: 4px;

body {
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
    center center no-repeat #cccccc;
  background-size: cover;
}

.cell {
  // background-color: #232a36 !important;
  border: 1px solid rgba(93, 93, 93, 0.75);
}

.boardCellCross {
  $cellWidth: 70% * 1.41;
  margin: auto;
  width: $boardElementWidth;
  height: $cellWidth;
  @include transform(rotate(-45deg));
  &:before {
    background-color: inherit;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    @include transform(rotate(90deg));
  }
}

.boardCellCircle {
  $cellWidth: 73%;
  width: $cellWidth;
  height: $cellWidth;
  border: $boardElementWidth solid;
  border-radius: 50%;
}
