@use "sass:math";
@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Roboto:700);

@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}
@mixin transition($properties...) {
  $needs-prefixes: false;
  $webkit: ();
  $moz: ();
  $spec: ();

  // Create lists for vendor-prefixed transform
  @each $list in $properties {
    @if nth($list, 1) == "transform" {
      $needs-prefixes: true;
      $list1: -webkit-transform;
      $list2: -moz-transform;
      $list3: ();

      @each $var in $list {
        $list3: join($list3, $var);

        @if $var != "transform" {
          $list1: join($list1, $var);
          $list2: join($list2, $var);
        }
      }

      $webkit: append($webkit, $list1);
      $moz: append($moz, $list2);
      $spec: append($spec, $list3);
    } @else {
      $webkit: append($webkit, $list, comma);
      $moz: append($moz, $list, comma);
      $spec: append($spec, $list, comma);
    }
  }

  @if $needs-prefixes {
    -webkit-transition: $webkit;
    -moz-transition: $moz;
    transition: $spec;
  } @else {
    @if length($properties) >= 1 {
      @include prefixer(transition, $properties, webkit moz spec);
    } @else {
      $properties: all 0.15s ease-out 0s;
      @include prefixer(transition, $properties, webkit moz spec);
    }
  }
}
@mixin transition-delay($times...) {
  @include prefixer(transition-delay, $times, webkit moz spec);
}

$boardElementWidth: 4px;

body {
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
    center center no-repeat #cccccc;
  background-size: cover;
}

.cell {
  // background-color: #232a36 !important;
  border: 1px solid rgba(93, 93, 93, 0.75);
}

.boardCellCross {
  $cellWidth: 70% * 1.41;
  margin: auto;
  width: $boardElementWidth;
  height: $cellWidth;
  @include transform(rotate(-45deg));
  &:before {
    background-color: inherit;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    @include transform(rotate(90deg));
  }
}

.boardCellCircle {
  $cellWidth: 73%;
  width: $cellWidth;
  height: $cellWidth;
  border: $boardElementWidth solid;
  border-radius: 50%;
}
